<launch>

  <node pkg="raspirover" type="raspirover_node" name="raspirover_node" output="screen" >
  </node>
  
  <node pkg="raspicam" type="raspicam_node" name="raspicam_node" >
    <param name="_framerate" value="30"/>
    <param name="_quality" value="10"/>
  </node>
  
  <node pkg="rtimulib_ros" type="rtimulib_ros" name="rtimulib_node" output="screen">
    <param name="calibration_file_path" value="$(find rtimulib_ros)/config"/>
    <param name="calibration_file_name" value="RTIMULib" />
    <param name="frame_id" value="imu"/>
    <remap from="/rtimulib_node/imu" to="/imu_data"/>
  </node>
 
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>  

   <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="freq" value="10.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="false"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="true"/>
  </node>
  
  <!--arg name="cmd_vel" default="/cmd_vel" /-->
  <arg name="teleop_config" default="$(find raspirover)/config/joy_teleop.yaml" />

  <rosparam file="$(arg teleop_config)" command="load" />
  <node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop">
    <!--remap from="cmd_vel" to="$(arg cmd_vel)" /-->
  </node>
  
</launch>